@use "./variables" as *;
@use "./mixins" as *;

.banner {
  display: flex;
  @include flex-column;
  width: 100%;
  height: 400px;
  text-align: center;

  h2 {
    font-family: $font-logo;
    color: $color-text-main;
    font-size: $font-size-h1;
    @include neon-glow($color-accent-cyan);
    margin-bottom: 1rem;
  }
  p {
    font-family: $font-main;
    color: $color-text-main;
    font-size: $font-size-base;
    @include neon-glow($color-accent-pink);
    max-width: 600px;
    margin-bottom: 2rem;
  }

  .social-icons {
    @include flex-row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2rem;
    list-style: none;
    padding: 0;
    z-index: -1;

    .icon-items {
      font-size: $font-size-h2;
      list-style: none;
      transition: all 0.3s ease-in-out;
      @include neon-glow($color-accent-cyan);
      @include neon-filter-glow($color-accent-gray);

      a {
        color: $color-text-main;
        text-decoration: none;
        @include flex-center;
        display: inline-flex;
        padding: 0.5rem;
      }

      &:hover {
        transform: scale(1.2);
        @include neon-filter-glow($color-accent-cyan);

        a {
          color: $color-text-main;
        }
      }
    }
  }

  .banner-description {
    max-width: 800px;
    margin: 0 auto;
    p {
      font-family: $font-main;
      color: $color-text-main;
      font-size: $font-size-body;
      @include neon-glow($color-accent-gray);
    }
  }
}
