@use "./variables" as *;
@use "./mixins" as *;

.banner {
  display: flex;
  @include flex-column;
  width: 100%;
  height: 400px;
  text-align: center;
  h2 {
    font-family: $font-logo;
    color: $color-text-main;
    border-color: $color-accent-pink;
    font-size: $font-size-h1;
    text-shadow: $shadow-glow-pink;
    margin-bottom: 1rem;
  }
  p {
    font-family: $font-main;
    color: $color-text-main;
    font-size: $font-size-base;
    text-shadow: $shadow-glow-cyan;
    max-width: 600px;
    margin-bottom: 2rem;
  }
}
