@use "./variables" as *;
@use "./mixins" as *;

.footer {
  background-color: $color-bg-secondary;
  color: $color-text-muted;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  font-family: $font-main;
  font-size: $font-size-small;
  @include respond-to(tablet) {
    padding: 30px;
    font-size: $font-size-body;
  }
  @include respond-to(desktop) {
    padding: 40px;
    font-size: $font-size-body;
  }

  .footer-links {
    @include flex-center;
    margin-top: 10px;

    ul {
      list-style: none;
      display: flex;
      gap: 10px;
      padding: 0;
      margin: 0;
    }

    a {
      color: $color-text-muted;
      margin: 0 10px;
      text-decoration: none;
      @include transition(color, 0.3s);
      &:hover {
        color: $color-accent-cyan;
      }
    }
    @include respond-to(tablet) {
      margin-top: 15px;
    }
    @include respond-to(desktop) {
      margin-top: 20px;
    }
  }
}
