@use "./variables" as *;
@use "./mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@400;600&family=JetBrains+Mono:wght@400;600&family=Fira+Code:wght@400;500&family=Michroma&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size-base;
  color: $color-text-main;
}

body {
  background-color: $color-bg-main;
  padding: 0;
  margin: 0;
  font-family: $font-main;
  color: $color-text-main;
  overflow-x: hidden;
  max-width: 100vw;
}

main {
  padding: 20px;

  @include respond-to(tablet) {
    padding: 50px;
  }

  @include respond-to(desktop) {
    padding: 60px;
    max-width: 100%;
    margin: 0 auto;
  }
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: $font-size-h2;
  font-weight: 600;
  font-style: italic;
  width: 100%;
  color: $color-text-main;
}

.span-title {
  display: block;
  flex: 1;
  height: 2px;
  background-color: $color-accent-cyan !important;
  border: none !important;
  min-width: 100px;
}

h3 {
  font-family: $font-code;
  font-size: $font-size-h3;
  margin-bottom: 30px;
  color: $color-accent-cyan;
}

code,
pre {
  font-family: $font-code;
}

.logo {
  font-family: $font-main;
}
