@use "./variables" as *;
@use "./mixins" as *;

.projet {
  h2 {
    font-size: $font-size-h2;
    color: $color-text-main;
    font-family: $font-main;
    @include neon-glow($color-accent-pink);
  }
  .projet-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 30px;

    @include respond-to(mobile) {
      grid-template-columns: 1fr;
      gap: 15px;
      margin-top: 20px;
    }
  }
}
