@use "variables" as *;
@use "mixins" as *;

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  transition: transform 0.2s ease-in-out;
  gap: 10px;

  // Titre de la carte
  .card-title {
    justify-content: center;
    .heading {
      font-size: $font-size-heading;
      font-family: $font-code;
      font-weight: 700;
      color: $color-text-main;
      text-shadow: $shadow-glow-cyan;
      margin: 0;
    }
  }

  // Stack / Technologies
  .card-stack {
    .stack-list {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .stack-item {
        background-color: $color-text-pink;
        padding: 5px 10px;
        font-size: $font-size-link;
        color: $color-bg-main;
      }
    }
  }

  // Lien du projet
  .card-footer {
    margin-top: auto;
    .button-link {
      width: 100%;
      border: none;
      background-color: $color-bg-cyan;
      padding: 10px 15px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;

      &:hover {
        background-color: $color-bg-main;
        color: $color-bg-cyan;
        border: 1px solid $color-bg-cyan;
      }

      .card-link {
        font-family: $font-code;
        font-size: $font-size-link;
        color: $color-text-blue;
        text-decoration: none;
        font-weight: 600;
      }
    }
  }
}
